<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	namespace=""唯一标识当前的映射文件  id
	Mapper的只要作用 就是将结果集完成自动的映射.其中编写sql语句
  -->
<mapper namespace="cn.tarena.ht.mapper.DeptMapper">
	<!--表示开启二级缓存  -->
	<!-- <cache/> -->
	<!-- <insert id=""></insert>
	<select id=""></select>
	<update id=""></update>
	<delete id=""></delete> -->
	<resultMap type="Dept" id="deptRM" autoMapping="true">
		<id column="dept_id" property="deptId"/>
		<association property="parentDept" javaType="Dept">
	 		<id column="p_id" property="deptId"/>
	 		<result column="p_name" property="deptName"/>
	 	</association>
	</resultMap>
	<!--查询用户  -->
	<select id="findAll" resultMap="deptRM">
		select * from dept_p d left join (select dept_id p_id,dept_name p_name from dept_p) p on d.parent_id=p.p_id order by dept_id
	</select>
	<!--启用和停用部门  -->
	<update id="changeState">
		update dept_p set state=#{state} where dept_id in
		<foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
			#{deptId}
		</foreach>
	</update>
	<!--删除部门  -->
	<delete id="deleteDept">
		delete from dept_p where dept_id in
		<foreach collection="array" item="deptId" open="(" close=")" separator=",">
			#{deptId}
		</foreach>
	</delete>
	<!-- 新增部门 -->
	<insert id="saveDept">
		insert into dept_p(dept_id,parent_id,dept_name,state) values(#{deptId},#{parentDept.deptId},#{deptName},#{state});
	</insert>
	<!-- 查看一个部门信息 -->
	<select id="findOne" resultMap="deptRM">
		select * from dept_p d left join (select dept_id p_id,dept_name p_name from dept_p) p on d.parent_id=p.p_id where dept_id=#{deptId}
	</select>
	<!--修改部门  -->
	<update id="updateDept">
		update dept_p set parent_id=#{parentDept.deptId} dept_name=#{deptName},state=#{state} where dept_id=#{deptId};
	</update>
</mapper>